<ul>
  <li><a [routerLink]="['/Hello']">Hello</a></li>
  <li><a [routerLink]="['/Ciao', { name: 'ng2' }]">Ciao</a></li>
</ul>
<router-outlet></router-outlet>
<linker name="GitHub" url="https://github.com/shuhei/babel-angular2-app"></linker>
<chosen></chosen>

